<div class="otherforms">
            <form method="POST" action="/createAcc">
                Enter Username:<br>
                <input type="text" name="name" placeholder="Name">
                <br>
                Choose Password:<br>
                <input type="text" name="password" placeholder="Password"><br>
                Enter Age: <br>
                <input type="text" name="age" placeholder="21">
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
