<div class="otherforms">
            <form action="/search" target="POST">
                Enter Username:<br>
                <input type="text" name="name" placeholder="Name">
                <br>
                Choose Password:<br>
                <input type="text" name="password" placeholder="Password">
                Enter Age: <br>
                <input type="text" name="age" placeholder="21">
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
