<div class="otherforms">
            <form action="/search" target="POST">
                Enter Name:<br>
                <input type="text" name="name" placeholder="Name">
                <br>
                Enter Email: <br>
                <input type="text" name="email" placeholder="Email">
                <br>
                Choose Password:<br>
                <input type="text" name="password" placeholder="Password">
                </select><br>
                <input type="submit" value="Submit">
            </form>
        </div>
