<div class="otherforms">
            <form method="POST" action="/login">
                Login:<br>
                <input type="text" name="login" placeholder="ID">
                <br>
                Password:<br>
                <input type="password" name="password" placeholder="Password">
                </select><br>
                <button type="submit">Submit</button>
            </form>
        </div>
