<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:900|Work+Sans:300" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CHUGG</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/main.css">
</head>    
<header>
    <div class="container">
        <div class="nav-header">
            <h1>CHUGGED</h1>
            <h2>Computer Homiez Guide to Good Enough Drinks</h2>
            <ul>
            <div class="topnav">
                <li><a href="/main">Home</a></li>
                <li><a href="/submitrecipe">Submit a recipe!</a></li>
                <li><a href="/login">Log In</a></li>
                <li><a href="/createAccount">Create Account</a></li>
            </div>
            </ul>
        </div>
    </div>
</header>
    <body>
        <h1>{{title}}</h1>
        {{{body}}}
    </body>
</html>
