<div class="mains">

            <p>
                As a college student, most of us have attempted to make a delicious drink and have ended up with a pretty foul concoction. This is a guide to making tastier drinks so you can enjoy a refreshing drink at home instead of spending lots of money at the bars.
            </p>
            
            <p>
                Get started now! Take a look around and see what alcohol you have at your disposal. Our expansive collection of recipes will provide drinks for a wide range of people. If you're a frat guy or a classy Hoboken mother, CHUGGED will find the perfect recipe for you. Begin by filling out the form to the right!
            </p>
            <p>
                Drink responsibly! Or don't. We won't ever know.
            </p>
            <p>
                Cheers!
            </p>
            <p>
            -CHUGGED Team
            </p>
            <p>
                <img src="cheers.jpg" alt="" class="center" width="400" height="300">
            </p>
        </div>
        <div class="forms">
            <form action="/search" target="POST">
                <p>Please fill out the form below. If you have more than one of these items, separate it by commas.</p>
                Alcohol Type:<br>
                <input type="text" name="alcohols" placeholder="Vodka">
                <br>
                Other Ingredients:<br>
                <input type="text" name="ingredients" placeholder="Orange juice, Sprite">
                <br> Difficulty: <br>
                <select class="input-field">
                    <option value="" disabled selected>Select</option>
                    <option value="very-easy">Very Easy</option>
                    <option value="easy">Easy</option>
                    <option value="medium">Medium</option>
                    <option value="Hard">Hard</option>
                </select>
                <br> Strength: <br>
                <select class="input-field">
                    <option value="" disabled selected>Select</option>
                    <option value="Weak">Weak</option>
                    <option value="Medium">Medium</option>
                    <option value="Strong">Strong</option>
                </select><br>
                <button type="submit">Submit</button>
            </form>
        </div>
