<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CHUGG</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/main.css">
</head>
<header>
    <div class="container">
        <div class="nav-header">
            <img src="logoslogan.jpg" alt="Logo with Slogan" class="center" width="700" height="500">
            <ul>
            <div class="topnav">
                <li><a href="main.html">Home</a></li>
                <li><a href="submitrecipe.html">Submit a recipe!</a></li>
                <li><a href="login.html">Log In</a></li>
                <li><a href="createAccount.html">Create Account</a></li>
            </div>
            </ul>
        </div>
    </div>
</header>
<main>

    <body>
        <div class="otherforms">
            <form action="/search" target="POST">
                Login:<br>
                <input type="text" name="login" placeholder="ID">
                <br>
                Email:<br>
                <input type="text" name="email" placeholder="Email">
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</main>
<link rel="stylesheet" href="/public/main.css">

</html>
