<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>LOGIN</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/login.css">
    <link rel="stylesheet" type="text/css" href="login.css" />
</head>

<header>
    <div class="container">
        <div class="nav-header">
                <ul>
                    <h1 id="login"><i href="/logo.jpg" class="header"></i>LOGIN</h1>
                    <a href="main.html">Home</a>
                    <a href="submit.html">Submit a recipe!</a>
                    <a href="login.html">Login</a>

                </ul>
        </div>
    </div>
</header>
<main>
    <body>
        <div class="forms">
            <form action="/search" target="POST">
                Login:<br>
                <input type="text" name="login" placeholder="ID">
                <br>
                Password:<br>
                <input type="text" name="ingredients" placeholder="Password">

                </select><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</main>
<link rel="stylesheet" href="/public/main.css">

</html>
