<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/public/main.css">
        <title>CHUGG</title>
        <div class="container">
        <div class="nav-header">
                <ul>
                    <h1 id="main"><i href="/logo.jpg" class="header"></i>CHUGG</h1>
                    <h2>Computer Homiez Ultimate Guide to Good-Drinks</h2><br>
                    
                    <a href="main.html">Home</a>
                    <a href="main.html">Log In:</a>
                </ul>
        </div>
    </div>
    </head>
    <body>
        <h1>{{title}}</h1>
        {{{body}}}
    </body>
</html>