<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CHUGG</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/submitrecipe.css">
</head>
    
<header>
    <div class="container">
        <div class="nav-header">
            <ul>
                <h1 id="main"><i href="/logo.jpg" class="header"></i>CHUGG</h1>
                <h2>Computer Homiez Ultimate Guide to Good-Drinks</h2><br>
                <a href="main.html">Home</a>
                <a href="submitrecipe.html">Submit a recipe!</a>
            </ul>
        </div>
    </div>
</header>
<main>
    <body>
        <div class="forms">
            <form action = "/search" target="POST" id="recipeform">
                <p>Fill out the form below to submit a recipe.</p>
                Drink Name:<br>
                <input type="text" name="name" placeholder="Moscow Mule">
                <br>
                Strength: <br>
                <form class="input-field">
                    <input type="radio" name="difficulty" value="weak"> Weak<br>
                    <input type="radio" name="difficulty" value="mild"> Mild<br>
                    <input type="radio" name="difficulty" value="strong"> Strong<br><br>
                </form>
                Flavor: <br>
                <input type="text" name="flavor" placeholder="Sweet, Sour">
                <br>
                Alcohol Type:<br>
                <input type="text" name="alcohols" placeholder="Vodka">
                <br>
                Other Ingredients:<br>
                <input type="text" name="ingredients" placeholder="Ginger Beer, Lime Juice, Ice">
                <br>
                Tools:<br>
                <input type="text" name="tools" placeholder="Spoon">
                <br>
                Glass Type:<br>
                <input type="text" name="glass" placeholder="Copper Mug">
                <br>
                Preparation:<br>
                <textarea rows="4" cols="25" name="prep" form="recipeform">
                Combine 4 oz Ginger beer, 1 1/2 oz Vodka, and 1/6 oz Lime juice in mug with ice. Stir to combine.
                </textarea>
                <br>
                <br> Difficulty: <br>
                <form class="input-field">
                    <input type="radio" name="difficulty" value="very-easy"> Very Easy<br>
                    <input type="radio" name="difficulty" value="easy"> Easy<br>
                    <input type="radio" name="difficulty" value="medium"> Medium <br>
                    <input type="radio" name="difficulty" value="hard"> Hard <br>
                </form>
                <input type="submit" value="Submit">
                
            </form>
        </div>
    </body>
</html>
